* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    cursor: default
}

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.logo {
    cursor: pointer
}

.top_nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(113, 136, 165, 0.15)
}

.top_nav:last-of-type {
    border: none
}

header .menu {
    width: 100%;
    max-width: 1275px;
    display: flex
}

header .top_menu {
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0
}

header .top_nav_menu_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    max-width: 360px
}

header .top_nav_menu {
    font-weight: 600;
    font-size: 15px;
    color: #2C6FBC;
    text-decoration: none;
    cursor: pointer;
}

header .top_nav_menu:hover {
    text-decoration: underline;
}

header .center_menu {
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 28px
}

header .center_menu .top_nav_menu_list {
    max-width: 460px
}

header .contact_btn {
    width: 196px;
    height: 50px;
    font-weight: 700;
    font-size: 15px;
    color: #2C6FBD;
    border: 1px solid #2C6FBD;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: transparent;
    cursor: pointer
}

header .separation_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

header hr {
    width: 1px;
    height: 17px;
    background-color: #849DB5
}

header .or {
    font-size: 12px;
    font-weight: 400;
    color: #7188A5;
    margin: 7px 0
}

header .number_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5C6E83;
    font-size: 15px
}

header .number_box img {
    margin: 0 8px 0 0;
    width: 15px
}

header .number {
    font-size: 25px;
    color: #1E2329;
    font-weight: 600;
    margin: 3px 0 0
}

.section1 {
    width: 100vw;
    height: 496px;
    display: flex;
    justify-content: center;
    background-color: #2C6FBD;
    position: relative;
}

.section1 .row_box {
    width: 100%;
    max-width: 1275px;
    display: flex;
    justify-content: flex-start
}

.section1 .text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section1 .h1 {
    color: white;
    font-size: 59.98px;
    font-weight: 400
}

.section1 .text {
    font-size: 24.99px;
    color: white;
    font-weight: 400
}

.section1 .img_box {
    width: 59.5vw;
    max-width: 1470px;
    height: 100%;
    background-image: url(../img/map_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0%;
    z-index: 1;
}

.section2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0
}

.section2 .h1 {
    font-size: 39.63px;
    color: #2C6FBD;
    font-weight: 600
}

.row_box {
    width: 100%;
    max-width: 1275px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.section2 .row_box {
    margin: 25px 0 0
}

.section2 .img_box {
    width: 637px
}

.section2 .text_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 100px
}

.section2 .text_box .h1 {
    font-weight: 400;
    font-size: 42px;
    margin: 0 0 15px
}

.section2 .text_box .text {
    border-top: 1px solid #E3E3E3;
    color: #5C6E83;
    font-size: 23px;
    font-weight: 400;
    padding: 22px 0 0
}

.section3 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0 0
}

.h1 {
    font-size: 40px;
    color: #2C6FBD;
    font-weight: 600
}

.section3 .we_do_clm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto
}

.section3 .circle_box {
    width: 366px;
    height: 366px;
    border-radius: 50%;
    background-color: #2C6FBD;
    border: 10px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px -26px
}

.section3 .circle_box img {
    width: 95%;
    border-radius: 50%;
    border: 10px solid white;
    background-color: white
}

.section3 .do_box {
    width: 100%;
    max-width: 1275px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.section3 .do_item p {
    margin: 0 5px
}

.section3 .do_item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E2329;
    font-size: 26px
}

.section4 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0 0
}

.section4 .row_box {
    height: 45vw;
    max-height: 860px;
    justify-content: center;
    align-items: center;
    margin: 35px 0 40px
}

.section4 .box_item {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    padding: 35px 40px 70px 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 6px
}

.section4 .box_item:nth-of-type(2n+1) {
    background-position: 21% 50%
}

.section4 .box_item::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.section4 .box_item:hover::after {
    background-color: rgba(0, 0, 0, 0)
}

.section4 .box_item .h1 {
    color: white;
    font-weight: 400;
    position: relative;
    z-index: 1
}

.section4 .box_item .h1 img {
    display: block;
    margin: 10px 0 0
}

.section4 .box_item .text {
    font-weight: 300;
    font-size: 25px;
    color: white;
    min-height: 68px;
    position: relative;
    z-index: 1
}

.baner_box {
    width: 100vw;
    height: 446px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C6FBD;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/baner1.png);
    position: relative
}

.baner_box .h1 {
    color: white;
    font-weight: 200;
    font-size: 72px
}

.baner_box .h1 span {
    font-weight: 800;
    color: black
}

.section5 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0 45px 180px
}

.section5 .row_box {
    max-width: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.section5 p {
    color: black;
    font-size: 48px
}

.section5 p span {
    color: #F9616D;
    font-weight: 800
}

.baner_box2 {
    width: 100vw;
    height: auto;
    padding: 79px 0 65px;
    background: rgb(44, 111, 189);
    background: url(../img/baner2.png) no-repeat center right, linear-gradient(90deg, rgba(44, 111, 189, 1) 0%, rgba(33, 116, 206, 1) 72%)
}

.baner_box2 .row_box {
    max-width: 1320px
}

.baner_box2 .h1 {
    font-size: 80px
}

.baner_box2 .h1 span {
    color: #2EA400
}

.baner_box2 .contact_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end
}

.baner_box2 input {
    width: 631px;
    height: 59px;
    background-color: #FFF;
    border: 1px solid #B7C3D4;
    border-radius: 30px;
    outline: none;
    color: #485768;
    font-size: 18px;
    padding: 0 45px;
    font-weight: 400;
    margin: 0 0 14px;
    font-family: 'Nunito', sans-serif
}

.baner_box2 input::placeholder {
    color: #485768;
    font-size: 18px
}

.baner_box2 input:focus,
.baner_box2 input:active {
    outline: none
}

.pink_btn {
    background-color: #F26D7D;
    border-radius: 35px;
    font-weight: 600;
    text-align: center;
    color: white;
    border: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    cursor: pointer
}

.baner_box2 .secure_btn {
    width: 385px;
    height: 69px;
    font-size: 23px;
    margin: 30px 0 0
}

.baner_box2 .arrow {
    max-width: 138px;
    margin: 65px -56px 0 0
}

.baner_box2 .text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 160px 0 30px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    margin: 34px -38px 0 0;
    color: white
}

.baner_box2 .text {
    font-size: 24px
}

.baner_box2 .text img {
    margin: 0 3px 0 0
}

.baner_box2 .number {
    font-size: 48px;
    font-weight: 600
}

.section6 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 140px
}

.section6 .circle_box {
    width: 529px;
    height: 529px;
    border-radius: 50%;
    background-color: white;
    border: 8px solid #2C6FBD;
    display: flex;
    justify-content: center;
    align-items: center
}

.section6 .circle_box img {
    width: 92%;
    height: 92%
}

.section6 .text_box {
    font-size: 23px;
    color: #5C6E83;
    padding: 0 9px 0 44px;
    margin: 45px 0 0
}

.section7 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0
}

.section7 .row_box {
    max-width: 1420px
}

.section7 .image {
    max-width: 666px;
    margin: 20px -56px -20px 0px
}

.section7 .h1 {
    color: #1E2329;
    font-size: 55px;
    font-weight: 100;
    margin: 0 0 100px
}

.section7 .form_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.section7 input {
    width: 375px;
    height: 50px;
    background-color: #FFF;
    border: 1px solid #B7C3D4;
    border-radius: 30px;
    outline: none;
    color: #485768;
    font-size: 15px;
    padding: 0 40px;
    font-weight: 400;
    margin: 0 0 20px;
    font-family: 'Nunito', sans-serif
}

.section7 .secure_btn {
    height: 55px;
    width: 276px;
    font-size: 18px
}

.section7 .text {
    padding: 60px 0 0;
    color: #5C6E83;
    font-size: 20px
}

.section7 .img_box {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0
}

footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E7E9ED
}

footer .row_box {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 35px 20px 20px
}

footer .logo {
    width: 203px
}

footer .number_box {
    display: flex;
    justify-content: center;
    align-items: center
}

footer .number_box img {
    margin: 0 5px 0 0
}

footer .number_box p {
    font-size: 20px;
    color: #5C6E83;
    margin: 0 15px 0 0
}

footer .number_box .number {
    font-size: 30px;
    color: #2C6FBD;
    font-weight: 600;
    margin: 0;
}

footer .row_box_center {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 45px 0 85px 20px;
    flex-wrap: wrap
}

footer .clm_box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 23%
}

footer .clm_box:nth-of-type(3) {
    width: 21%
}

footer .clm_box:nth-of-type(5) {
    width: 10%
}

footer .footer_menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 10px
}

footer .title {
    color: #1E2329;
    font-size: 18px;
    margin: 0 0 10px
}

footer li a {
    color: #5C6E83;
    font-size: 16px;
    text-decoration: none
}

footer li a:hover {
    text-decoration: underline;
}

footer .row_box:last-of-type {
    border: none;
    padding: 35px 0 50px;
    font-size: 14px;
    color: #5C6E83;
    display: flex;
    justify-content: center;
    align-items: center
}

nav.main_menu {
    background-color: transparent;
    width: 100%;
    max-width: 1275px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0
}

nav.main_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
        z-index: 2;
}

nav.main_menu ul li {
    display: inline-block;
    position: relative
}

nav.main_menu a {
    display: flex;
    align-items: center;
    color: #5C6E83;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer
}

nav.main_menu .sub_menu {
    display: none;
    position: absolute;
    top: calc(100% + 20px);
    top: 100%;
    width: 100%;
    background-color: white;
    padding: 10px 0 0
}

nav.main_menu ul li:hover > .sub_menu {
    display: inherit
}

nav.main_menu .sub_menu li {
    float: none;
    display: list-item;
    position: relative;
    padding: 10px 20px;
    cursor: pointer
}

nav.main_menu .sub_menu li:hover {
    background-color: rgba(44, 111, 189, 0.2)
}

li > .main_menu_item:after {
    content: '';
    background-image: url(../img/arrow_down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6px;
    height: 5px;
    margin: 0 0 0 5px;
    transition: all .3s
}

li:nth-of-type(4) > .main_menu_item:after {
    display: none
}

li:hover > .main_menu_item:after {
    transform: rotate(180deg)
}

li > .main_menu_item:only-child:after {
    content: ''
}

.mobile_btn {
    display: none
}

.mobile_btn .menu_icon {
    height: 43px;
    width: 63px;
    background-image: url(../img/menu-24px.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 35px 0 0
}

.close_menu,
.mob_img {
    display: none
}

.left_side {
    display: flex;
    align-items: center
}

.img_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 5px 0 0
}
